<div class="Pessoa-box">
  <button>Cadastro</button>
  <div class="input-box">
    <label>Procurar</label>
    <input type="text" placeholder="Que pessoa deseja buscar?">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Idade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td>Otavio</td>
      <td>Parana</td>
      <td>Curitiba</td>
      <td>18</td>
      <td>
        <button>Editar</button>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>

